---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import '../message.css'
---

<header>
  <div class="fb items-center">
    <Logo />
  </div>
<div class="fi mt-2">
  <span class="gpt-title">けいのバー</span>
  <span class="gpt-subtitle">@麹町</span>
</div>
<p mt-1 op-60>Powered by ChatGPT（{model}）</p>
<p class="mt-2 text-gray-300 italic">「こんばんは。けいです。今夜もゆっくりしていってね」</p>

</header>
