---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import '../message.css'
---

<header>
  <div class="fb items-center">
    <Logo />
  </div>
<div class="fi mt-2">
  <span class="gpt-title">けいのバー</span>
  <span class="gpt-subtitle">新規開店！</span>
</div>
<p mt-1 op-60>Powered by ChatGPT（{model}）</p>
</header>
