.message pre {
  background-color: #64748b10;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
}

.message .hljs {
  background-color: transparent;
}

.message table {
  font-size: 0.8em;
}

.message table thead tr {
  background-color: #64748b40;
  text-align: left;
}

.message table th, .message table td {
  padding: 0.6rem 1rem;
}

.message table tbody tr:last-of-type {
  border-bottom: 2px solid #64748b40;
}

.message {
  color: #1a1a1a !important;
  line-height: 1.4; /* 行間をやや詰める（1.2〜1.5が目安） */
  white-space: pre-wrap; /* Markdown対応で改行がちゃんと効くように */
}

body {
  background-image: url('/lounge-bg.png') !important;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.6); /* 暗めフィルター */
  z-index: -1;
    padding-top: 3rem; /* ← 応急処置として可 */
}
